@{
    Page.Title = "Inrix DeltaSpeed: Home";
}
<div id="navbar" class="NavigationMenu">
    <ul>
        <li>
            <a class="CurrentPage" title="Home">Home</a>
        </li>
        <li>
            <a href="~/Queues" title="Queues">Queues</a>
        </li>
        <li>
            <a href="~/Backs" title="Backs-of-Queue">Backs-of-Queue</a>
        </li>
    </ul>
</div>
<div class="MainContent">
    <div class="PanelContainer">
        <div class="ShowcasePanel">
            <p id="HomepageText">
                This website displays listings of and data about back-of-queue events and full-length queues on interstate highways and other major freeways. The following states are covered:
            </p>
            <ul>
                <li>Indiana</li>
                <li>Florida</li>
                <li>Tennessee</li>
                <li>Coming soon: Ohio</li>
            </ul>
        </div>
    </div>
</div>
        
